

<body>
	<div id="wrapper">
		<div id="header">
    	<ul> 
      	<li>Home</li>
      	<li>View my work</li>
      	<li>Contact</li>
    	</ul>
      </div>
		<div id="main">
      <h1>EMS kicking ass</h1>
      <a href="www.vg.no" class="btn">View my Work </a>
      
      
    </div>
    	
		<div id="footer">
      <a href="https://www.facebook.com/e.m.solheim"><img src="https://photos-3.dropbox.com/t/2/AABJ4s_bfhLWhtLyry4UdQ0y45DdFMQM-S3II8VYpAfzOg/12/1111105/png/32x32/1/_/1/2/FB.png/EPyJfRihiYCvASACKAI/6ZXUOpbCJpNCHtPNszfxSD7Al0pqcMHncFfP3AFxykg?size_mode=5" height="20px"/></a>
      
    </div>
	</div>
</body>
